# Node dependencies
node_modules/

# Generated folders
.build/
.preview/
output/

# Local Storyline publishes
storyline/published/**

# Keep folder placeholders
!storyline/published/**/.gitkeep

# Local Storyline source files
storyline/source/**/*.story
*.story

# OS/editor files
Thumbs.db
.DS_Store
.vscode/
.idea/